# ======================
# Python & Core
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.Python

# ======================
# Virtual Environment
# ======================
.venv/
venv/
env/
.env
.env.*

# ======================
# Django Setup
# ======================
*.sqlite3
db.sqlite3
local_settings.py
settings_local.py



# ======================
# Media & Static
# ======================
media/
staticfiles/

# ======================
# IDE & Editors
# ======================
.vscode/
.idea/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db
celerybeat.pid
celerybeat-schedule
backend/celerybeat-schedule

backend/firebase-key.json