{% extends "admin/base.html" %}

{% block extrahead %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
       
        const orderSound = new Audio('/static/sounds/ring.mp3');

        const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
        const socketUrl = protocol + window.location.host + '/ws/admin-notifications/';
        const adminSocket = new WebSocket(socketUrl);

        adminSocket.onopen = function(event) {
            console.log("WebSocket Server se Connect ho gaya hai!");
        };

        adminSocket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            if (data.type === 'new_order') {
                orderSound.play().catch(function(error) {
                    console.log("Sound play error:", error);
                });
            }
        };

        adminSocket.onclose = function(event) {
            console.error('Admin notification socket band ho gaya. Code:', event.code, 'Reason:', event.reason);
        };

       
        document.body.addEventListener('click', function unlockAudio() {
            orderSound.play().then(() => {
                orderSound.pause();
                orderSound.currentTime = 0;
            }).catch(err => {});
            document.body.removeEventListener('click', unlockAudio);
        }, { once: true });
    });
</script>
{% endblock %}